.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}
.header__link {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.header__list {
  display: flex;
  gap: 50px;
}

.header__logo {
  display: flex;
  gap: 50px;
}

.hero__title {
  margin-top: 100px;
  font-weight: 900;
  font-size: 110px;
  line-height: 123%;
  text-align: center;

  color: #fff;
}
.hero__title-yellow {
  color: #f29d26;
}
.hero__title-black {
  color: #000;
}

.hero__more {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 10px;
  height: 100px;
  background-color: #000;
  color: #fff;
}

.about__list {
  display: flex;
  justify-content: space-between;
}
.about__item:nth-child(1) {
  background-color: #e5fbfd;
}
.about__item:nth-child(2) {
  background-color: #fdf7e7;
}
.about__item:nth-child(3) {
  background-color: #f1ffef;
}

.about__item {
  padding: 35px 80px;
}
.about__text {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
}

.about__text-big {
  font-weight: 800;
  font-size: 100px;
  text-transform: uppercase;
}

.about__top {
  margin: 100px;
}

.about__text-big span {
  font-size: 20px;
}

.slider__elem {
  position: relative;
}
.slider__elem-text {
  position: absolute;
  bottom: -70px;
  background-color: #db3138;
}

.carousel-inner {
  height: 430px;
}

.carousel-control-prev {
  left: -100px;
}
.carousel-control-next {
  right: -100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 20px;
  border-radius: 50%;
  background-color: #db3138;
}
.advan__box {
  display: flex;
  gap: 100px;
}

.advan__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 530px;
  width: 100%;
}

.advan__container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.advan__container h2 {
  font-weight: 600;
  font-size: 26px;
  line-height: 140%;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: #fff;
}

.advan__text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 3%;
  color: #fff;
}

.advan__inner {
  height: 100%;
}

.advan__slider-text {
  padding: 40px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  color: #fff;
}
.carousel {
  position: relative;
}
.advan__btn-prev {
  position: absolute;
  bottom: -80%;
  left: 0;
}
.advan__btn-next {
  position: absolute;
  bottom: -80%;
  right: 0;
}

.title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 52px;
  line-height: 140%;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.service {
  text-align: center;
}

.service__container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.service__container button {
  padding: 15px 40px;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: #fff;
}

.active-btn {
  background-color: #db3138;
}
.service__list {
  display: flex;
  gap: 25px;
}

.service__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 300px;
  width: 100%;
  border: 1px solid #898989;
  padding: 60px 20px;
  color: #fff;
}

.service__item a {
  display: block;
  width: 50px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #db3138;
}

.service__item img {
  width: 50px;
  height: 70px;
}

.works__item img {
  width: 208px;
}

.works {
  text-align: center;
}
.works__list {
  margin-top: 60px;
}

.form__input {
  padding-left: 45px;
  max-width: 300px;
  width: 100%;
  height: 50px;
  border: 1px solid #898989;
}
.form__input:focus {
  border: 1px solid #db3138;
}

.form__question {
  width: 100%;
  height: 150px;
  margin-top: 50px;
  padding-top: 15px;
  padding-left: 25px;
}
.form__input:nth-child(2) {
  margin-left: 25px;
}

.form__input::placeholder,
.form__question::placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 5%;
  text-transform: uppercase;
}

.form__btn {
  margin-top: 25px;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 12px 25px;
  color: #fff;
  background-color: #db3138;
}

.footer-devide {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

footer {
  padding-bottom: 50px;
}

.footer-line {
  margin-top: 100px;
  border: 1px solid #898989;
}

.footer-container {
  display: flex;
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
}
